<h3>List</h3>

<ForLoop f="c"/>



@code


{
    List<Data> c;
    protected override void OnInitialized()
    {
        c = new List<Data>()
    {
            new Data(){ID=101, Name="Amit", City="Noida"},
            new Data(){ID=101, Name="Amit", City="Noida"},
            new Data(){ID=101, Name="Amit", City="Noida"},
            new Data(){ID=101, Name="Amit", City="Noida"},
            new Data(){ID=101, Name="Amit", City="Noida"},
            new Data(){ID=101, Name="Amit", City="Noida"},
        };
    }




}
